css


.topnav{
  display: flex;
  background-color: black;
  font-size: 30%;
}
.topnav a {
  background-color: #6E5D45;
  float: left;
  color: white;
  text-align: center;
  padding: 20px 20px 20px;
  text-decoration: none;
  font-size: 14px;
}
.topnav a:hover {
  background-color: #E6E6E6;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: E6E6E6;
  margin: 20px 20px 20px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #E6E6E6;
  /* background: #416841; */
  /* background-image:linear-gradient(#414968,#416841); */
  background-color: #345B3D;

  font-family: sans-serif;
  text-align: center;
}
inlandbody{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #E6E6E6;
  background-image:linear-gradient(#416841,#6E5D45);

  font-family: sans-serif;
  text-align: center;
}
bothbody{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #E6E6E6;
  background-image:linear-gradient(#414968,#416841);

  font-family: sans-serif;
  text-align: center;
}
coastalbody{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #E6E6E6;
  background-image:linear-gradient(#414968,#ADD8E6);

  font-family: sans-serif;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  background-color: white;
  color: black;
  margin: 35px 35px 35px 35px;
  padding: 15px;
  width: 70%;
}
.content h2{
  display: flex;
  justify-content: center;

  color: #6E5D45;
}
.content h3{
  display:flex;

  color: #6E5D45;
}

/* .column {
  float: left;
  width: 10%;
  padding: 5px 5px 5px 5px;

} */
.row{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

a {
  text-decoration: none;
}
a:hover{
  background-color: lightgrey;
}
img{
  padding: 15px;
}
